
header {

    width: 1103.41px;
    height: 29.46px;
    margin: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: ;
}
body {
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    width: 1440px;
    margin: 0px;

}
#menu {
    width: 234px;
    height: 15px;
    top: 37px;
    left: 1041px;
    gap: 0px;
    opacity: 0px;
    justify-content: space-between;
    display: flex;
}
#menu a {
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    text-decoration: none;
}  
#section_1 {
    width: 1440px;
    height: 1093px;
    margin-top: 130px;

}
#gets {
    text-align: center;
    height: 151px;
    }
#gets h1 {
color: white;
font-family: Source Sans Pro;
font-size: 120px;
font-weight: 700;
line-height: 150.84px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin: 0%;

} 
#gets span {
color: white;
font-family: Source Sans Pro;
font-size: 16px;
font-weight: 700;
padding: 23px;

}
#section_1 button {
    width: 150px;
    height: 40px;
    background: #C271FF;
    border-radius: 25px;
    border: none;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    margin-top: 40px;

}
#block_2 h2 {
    font-family: Source Sans Pro;
    font-size: 32px;
    
    line-height: 40.22px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 250px;
    
}
#span_1 {
    font-weight: 700;
    color: #C271FF;
}
#span_2 {
    font-family: Source Sans Pro;
font-size: 32px;
font-weight: 300;
line-height: 40.22px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: white;
}
#pros {
margin:75px 215px;
}
#quote{

    height: 392px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C271FF;
}
#video {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

}
#faq {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}